*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #000000;
}

.post-container{
    width: 375px;
    margin: 0 auto;
}

/* typography */

h2, .bold{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

p{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

span{
    font-weight: 400;
    line-height: 15px;
}

/* layout */

header{
    padding: 16px;
    border: 1px solid #C6C6C6;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.post-top {
    padding: 11px 10px;
    display: flex;
    justify-content: flex-start;
}

.post-user-info{
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 5px;
}

.post-user-avatar {
    width: 34px;
    height: 34px;
}

h2{
    margin: 0;
}

.post-bottom{
    padding: 16px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-activity {
    margin-bottom: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}